<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.itemservice.repository.mybatis.ItemMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into item (item_name, price, quantity)
        values (#{itemName}, #{price}, #{quantity})
    </insert>

    <update id="update">
        update item
        set item_name = #{updateParam.itemName},
            price     = #{updateParam.price},
            quantity  = #{updateParam.quantity}
        where id = #{id}
    </update>

    <select id="findById" resultType="Item">
        select id, item_name, price, quantity
        from item
        where id = #{id}
    </select>

    <select id="findAll" resultType="Item">
        select id, item_name, price, quantity
        from item
        <where>
            <if test='itemName != null and itemName != ""'>
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test='maxPrice != null'>
                and price &lt;= #{maxPrice}
            </if>
        </where>
    </select>
</mapper>
<!--
Mybatis는 <where> , <if> 같은 동적 쿼리 문법을 통해 편리한 동적 쿼리를 지원한다.
    <if> 는 해당 조건이 만족하면 구문을 추가한다.
    <where> 은 적절하게 where 문장을 만들어준다.
        예제에서 <if> 가 모두 실패하게 되면 SQL where 를 만들지 않는다.
        예제에서 <if> 가 하나라도 성공하면 처음 나타나는 and 를 where 로 변환해준다.
-->